._header {
  /* display: flex !important; */
  flex-direction: row;
  align-items: center !important;
  color: white;
  justify-content: space-between;
}

._header i {
  margin: 0 1rem;
}

.fields {
  margin: 0 !important;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo h1 {
  margin: 0;
}
