body {
  /* Variables */
  --icon-distance-from-corner: 5rem;

  --bg-color-winter: #ccefff;
  --bg-color-summer: #fff7cc;
  --text-color-winter: #004666;
  --text-color-summer: #665700;
}

/* Icons */

.icon-left,
.icon-right {
  position: absolute;
  animation: floating 3s ease-in-out infinite;
}

.icon-left {
  top: var(--icon-distance-from-corner);
  left: var(--icon-distance-from-corner);
}

.icon-right {
  bottom: var(--icon-distance-from-corner);
  right: var(--icon-distance-from-corner);
}

/* Text */

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter {
  background-color: var(--bg-color-winter);
  color: var(--text-color-winter);
}

.season-display.summer {
  background-color: var(--bg-color-summer);
  color: var(--text-color-summer);
}

/* Floating animation */
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
