.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 0.25px 10px;
  grid-auto-rows: 10px;
}

.image-list img {
  width: 100%;
  grid-row-end: span 2;
}
