.ui.grid .row.stream-item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ui.vertical.menu .item.stream-item .main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ui.vertical.menu .item.stream-item .main-content > i.icon {
  margin: 0 0.5em 0 0;
}

.ui.vertical.menu .item.stream-item .main-content > .content > .ui.header {
  margin: 0;
}
